body {
  font-family: "Inter", sans-serif;
  background-color: #f8fafc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lexend", "sans-serif";
}



@keyframes bounce-slow {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 2s infinite ease-in-out;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  font-family: "Lexend", sans-serif;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.2;
  font-weight: 700;
  color: #1a202c;
}

.prose h1 {
  font-size: 2.25em;
}

.prose h2 {
  font-size: 1.875em;
}

.prose h3 {
  font-size: 1.5em;
}

.prose p {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.75;
  color: #4a5568;
}

.prose strong {
  font-weight: 700;
}

.prose em {
  font-style: italic;
}

.prose ul,
.prose ol {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1.5em;
  list-style-type: disc;
}

.prose ol {
  list-style-type: decimal;
}

.prose li {
  margin-bottom: 0.5em;
}

.prose a {
  color: #3b82f6;
  text-decoration: underline;
}

.prose blockquote {
  border-left: 4px solid #cbd5e0;
  padding-left: 1em;
  margin-left: 0;
  font-style: italic;
  color: #718096;
}

.prose pre {
  background-color: #f0f4f8;
  padding: 1em;
  border-radius: 0.5rem;
  overflow-x: auto;
  font-family: monospace;
  font-size: 0.9em;
}

.prose code {
  font-family: monospace;
  background-color: #e2e8f0;
  padding: 0.2em 0.4em;
  border-radius: 0.25rem;
}

.prose img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.prose table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.prose th,
.prose td {
  border: 1px solid #cbd5e0;
  padding: 0.75em;
  text-align: left;
}

.prose th {
  background-color: #f1f5f9;
  font-weight: 600;
}

#editor-container {
  height: 400px;
  background-color: white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.ql-toolbar.ql-snow {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-color: #e2e8f0;
}

.ql-container.ql-snow {
  border-color: #e2e8f0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}